* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Abel", sans-serif;
}
.hidden {
  display: none;
}
.bar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: white;
  background: black;
}
h1 {
  margin: 5%;
  font-size: 44px;
}
#border {
  border: 3px solid white;
  padding: 1%;
}
#intro {
  text-align: end;
  font-size: 45px;
  margin-left: 40%;
  margin-right: 3%;
  padding: 2%;
}
#js-form {
  margin: auto;
  text-align: center;
  width: 100%;
  height: 20%;
}
.search {
  height: 50px;
  font-size: 24px;
  border: none;
  padding-left: 5px;
}

#js-search-term {
  width: 280px;
  -webkit-appearance: none;
}
#content-type {
  width: 140px;
  text-align: center;
  -webkit-appearance: none;
  padding-left: 5px;
  -webkit-border-radius: 0px !important;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.5em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

#submit {
  width: 150px;
  background: #64c4ed;
  border: none;
}
#mobile-version-wiki-link {
  display: none;
}
a:link {
  text-decoration: none;
  font-size: 24px;
  border-bottom: 4px solid #64c4ed;
  color: black;
}
#head-search {
  margin-bottom: 2%;
  font-size: 24px;
}
#foot-search {
  margin-top: 3%;
  font-size: 24px;
}
.section {
  display: block;
  height: auto;
  margin: 5%;
}
.section-one > p {
  font-size: 24px;
  text-align: justify;
}
.section-two {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.section-three {
  display: block;
  height: auto;
  width: 100%;
  justify-content: space-around;
}

li {
  width: 48%;
  height: auto;
  list-style-type: none;
  padding: 2%;
  margin: 1%;
  border: 5px solid rgb(8, 8, 8);
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

li > h3 {
  font-size: 24px;
  font-weight: bold;
}
li > p {
  text-align: justify;
  font-size: 20px;
  margin-top: 20px;
}
.slideButton {
  border: none;
  font-size: 20px;
  cursor: pointer;
  background: none;
}
.webFrame {
  display: none;
  width: 100%;
  height: 500px;
  margin: auto;
  text-align: center;
  border: none;
}
.bigClass {
  width: 100%;
}

h5 {
  float: right;
  margin: 1%;
  color: black;
  text-decoration: none;
}
h5 > a:link {
  border-bottom: none;
  font-size: 18px;
}
a:visited {
  color: black;
  border-bottom: 4px solid #64c4ed;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  margin: auto;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

#submit-text {
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 850px) {
  header {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  #border {
    padding: 5px;
    margin: auto;
  }
  #intro {
    text-align: center;
    margin: auto;
    font-size: 36px;
  }
  h1 {
    text-align: end;
    margin: auto;
  }
  .js-form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .section {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .section-two {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .search {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 2%;
  }
  #content-type {
    width: 280px;
    text-align-last: center;
    line-height: 50px;
    padding-left: 120px !important;
  }
  #js-search-term {
    text-align: center;
  }
  #submit {
    width: 280px;
    line-height: 50px;
  }
  #submit-text {
    margin: auto;
    width: 280px;
  }
  li {
    width: auto;
  }

  .slideButton {
    display: none;
  }
  #mobile-version-wiki-link {
    display: block;
    text-align: center;
  }
  li > h3 {
    text-align: center;
  }
}
